body{
    font-family: "Poppins", sans-serif;
    margin:0;
}
header{
    display: flex;
    margin: 32px;
}
.links{
    display: inline-block;
}
h1{
    display: inline-block;
    font-weight: 300;
}
.links li{
    display: inline-block;
    margin-top: 20px;
}
.links a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin: 0px 8px;
}
a.active{
    border-bottom:1px solid black ;
}
.gallery{
    display: inline-block;
    padding: 15px;
}
.card{
    display: inline-block;
    width: 48%;
    padding: 16px;
    box-sizing: border-box;
}
.card img{
    height: 500px;
    width: 100%;
    object-fit: cover;
}
.card img:hover{
    opacity: 0.9;
}
.card h2{
    margin: 8px 0px 16px 0 px;
    font-weight: 300;
}
.why{
    width: 50%;
    margin: 100px 200px;
}
.banner{
    font-weight: 300;
    font-style: italic;
    font-size: 25px;
}
.message{
    color: red;
    border-bottom: 1px solid red;
    font-size: 50px;
    font-style: italic;
    margin-top: 0;
    padding-bottom: 8px;
}
.contact p{
    margin:0;
    font-weight: 600;
}